# Ignore the Python virtual environment (The source of your error!)
backend/venv/
backend/.env
backend/__pycache__/
backend/*.db

# Ignore the heavy Frontend folders
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local

# General
.DS_Store